<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
  	<setting name="cacheEnabled" value="true" />
  	<setting name="multipleResultSetsEnabled" value="true" />
  	<setting name="useColumnLabel" value="true" />
  	<setting name="defaultExecutorType" value="SIMPLE" />
  	<setting name="mapUnderscoreToCamelCase" value="false" />
  	<setting name="jdbcTypeForNull" value="VARCHAR" />
  </settings>
  <typeAliases>
  	<typeAlias alias = "UserVO" type = "com.youran.gogoboard.user.UserVO"/>
  </typeAliases>
  <mappers>
  	<mapper resource="mappers/UserMapper.xml"/>
  </mappers>
</configuration>